* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: url(../assets/BG/background.svg);
  background-size: contain;
  background-repeat: repeat;
}
